body {
  margin: 0 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.content {
  margin: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  text-align: center;
  margin-bottom: 0;
}
#subheader {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
}

li {
  width: 57px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: semi-bold;
  overflow: visible;
  list-style: none;
  font-weight: 100;
}
a {
  color: #333234;
  text-decoration: none;
}

a:hover {
  color: #aa6da3;
}

h1,
h4 {
  font-style: italic;
}

h4 {
  color: #656565;
}

.container {
  float: left;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  left: 0;
}

.tambo-nav {
  width: 20%;
  margin: 20px;
  flex-direction: column;
  /* background: blue; */
}

.tambo-form {
  width: 70%;
  margin: 20px auto;
  /* background: green; */
}

.myitems {
  margin: 30 auto;
}

.product {
  width: 200px;
  height: 200px;
  background: pink;
  margin: 10px;
  text-align: center;
  color: white;
}

.plant-decoration {
  position: absolute;
  right: 0;
  top: 0;
  height: 50vh;
}

.potted-plant-decoration {
  position: absolute;
  left: 0;
  bottom: -120px;
  height: 90vh;
  z-index: -1;
}
